.profile {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.profile h1 {
  color: #0e76a8;
}

.profile h4 {
  color: #1c1e21;
  font-weight: bold;
  margin-bottom: 30px;
}

.profile p {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.profile ul {
  margin-left: 30px;
}

.profile li {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.profile .skill {
  margin-bottom: 50px;
}

.profile .skill h3 {
  color: #1c1e21;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile .experience {
  margin-bottom: 50px;
}

.profile .experience h3 {
  color: #1c1e21;
  font-weight: bold;
  margin-bottom: 30px;
}

.profile .experience h4 {
  color: #1c1e21;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile .experience p {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
